* {
  margin: 0;
  padding: 0;
}

main {
  background-color: var(--color-blanco);
}

header {
  background-color: var(--color-blanco);
}
/*
.contenedor-historia {
  font-family: var(--fuente-principal);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  width: 100%;
}

#contenedor-texto-historia {
  width: 50%;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

#contenedor-ilustracion {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#contenedor-ilustracion img {
  max-height: 450px;
}

#contenedor-selecciones {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

#contenedor-selecciones .historia-opcion {
  text-transform: uppercase;
  font-family: var(--fuente-secundaria);
  padding: 20px 60px;
  border-radius: 0 30px 0 30px;
  border: none;
  color: var(--color-blanco);
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.2rem;
}

#contenedor-selecciones .historia-opcion:hover {
  transform: translateY(-5px);
}

#contenedor-selecciones .h-opcion-0 {
  background-color: var(--color-azul);
}

#contenedor-selecciones .h-opcion-1 {
  background-color: var(--color-verde-claro);
} 
  */

/* ========================================
   MEDIA QUERIES - RESPONSIVE DESIGN
   ======================================== */

/* Pantallas pequeñas ( <= 1024px) */
/* 
@media (max-width: 1024px) {
  .contenedor-historia {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70% 30%;
    padding: 50px 0;
    gap: 10px;
  }

  #contenedor-texto-historia {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1;
  }

  #contenedor-ilustracion {
    width: 100%;
    position: relative;
    grid-column: 1;
    grid-row: 2;
  }

  #contenedor-ilustracion img {
    max-height: 150px;
  }

  #contenedor-selecciones {
    width: 100%;

    grid-column: 2;
    grid-row: 2;
  }

  #contenedor-ilustracion,
  #contenedor-selecciones {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  #contenedor-texto-historia {
    font-size: 1.2rem;
  }
  #contenedor-selecciones .historia-opcion {
    padding: 10px 30px;
    font-size: 1rem;
  }
} 
  */
header nav a:first-child {
  color: var(--color-amarillo);
}

.pantalla-bienvenida {
  height: 90vh;
  background-color: var(--color-verde);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pantalla-bienvenida h1 {
  color: var(--color-amarillo);
  font-size: 5rem;
  font-weight: 900;
}

.pantalla-bienvenida p {
  margin-top: -15px;
  text-align: right;
  color: var(--color-blanco);
}

.contenedor-ilustracion img {
  max-width: 150px;
}
