header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  /* background-image: url('../img/Vegetacion_grafico.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  background-color: var(--color-verde);
  font-family: var(--fuente-principal);
  /* height: 200px;
  min-height: 200px; */
  background-position: 0 -10px;
}

/* .header-wrapper {
  overflow: hidden;
}

header {
  position: relative;
  height: 230px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 1rem 2rem;
  font-family: var(--fuente-principal);
  z-index: 1;
}

header::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -80px;
  width: calc(100% + 80px);
  height: 100%;
  background-image: url('../img/Vegetacion_grafico.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
} */

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  width: auto;
  object-fit: contain;
}

nav {
  display: flex;
  gap: 2rem;
}

nav a {
  position: relative;
  text-decoration: none;
  color: var(--color-blanco);
  font-weight: 500;
  font-size: 1.4rem;
  transition: all 0.3s ease;
}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: var(--color-blanco);
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}
